modules = ["python-3.11", "postgresql-16"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SwissAirDry API"

[[workflows.workflow]]
name = "SwissAirDry API"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd swissairdry/api/app && python run.py"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd docker-base-api/app && python run.py"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
